$color-red-500: #ee5959;
$color-red-600: #702e2f;

$color-green-500: #6ce474;
$color-green-600: #265d39;

$color-yellow-500: #e5a140;

$color-neutral-100: #e6eaf6;
$color-neutral-200: #82828d;
$color-neutral-300: #62656c;
$color-neutral-400: #3e4345;
$color-neutral-600: #202122;
$color-neutral-700: #1b1c1e;
$color-neutral-800: #131416;
$color-neutral-900: #0b0c0d;
