:export {
  colorRed500: $color-red-500;
  colorRed600: $color-red-600;
  colorGreen500: $color-green-500;
  colorGreen600: $color-green-600;
  colorYellow500: $color-yellow-500;
  colorNeutral100: $color-neutral-100;
  colorNeutral200: $color-neutral-200;
  colorNeutral300: $color-neutral-300;
  colorNeutral400: $color-neutral-400;
  colorNeutral700: $color-neutral-700;
  colorNeutral800: $color-neutral-800;
  colorNeutral900: $color-neutral-900;
}
