@mixin font-face($type, $weight) {
  @font-face {
    font-family: "Roboto";
    font-weight: $weight;
    src: url("../fonts/roboto-#{$type}.woff2") format("woff2"),
      url("../fonts/roboto-#{$type}.woff") format("woff"),
      url("../fonts/roboto-#{$type}.ttf") format("truetype");
  }
}

@include font-face("regular", normal);
@include font-face("medium", 500);
@include font-face("bold", bold);
