$color-red-500: #ee5959;
$color-red-600: #702e2f;

$color-green-500: #6ce474;
$color-green-600: #265d39;

$color-yellow-500: #e5a140;

$color-neutral-100: #e6eaf6;
$color-neutral-200: #7b7e87;
$color-neutral-300: #5a5d64;
$color-neutral-400: #3d4043;
$color-neutral-500: #202122;
$color-neutral-600: #28292c;
$color-neutral-700: #17191b;
$color-neutral-800: #0f1012;
$color-neutral-900: #0b0c0d;
